 /* "RISPETTATE I COMMENTI, GRAZIE" - Luca */
/* FONT */
@font-face {
  font-family: 'Nexa-Light';
  src:url('../fonts/Nexa-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Nexa-Light.otf')  format('opentype'), 
  url('../fonts/Nexa-Light.woff') format('woff'), 
  url('../fonts/Nexa-Light.ttf')  format('truetype'), 
  url('../fonts/Nexa-Light.svg#Nexa-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaRegular';
  src: url('../fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/NexaRegular.otf')  format('opentype'),
      url('../fonts/NexaRegular.woff') format('woff'), 
      url('../fonts/NexaRegular.ttf')  format('truetype'), 
      url('../fonts/NexaRegular.svg#NexaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa-Bold';
  src:url('../fonts/Nexa-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Nexa-Bold.woff2')  format('woff2'), 
  url('../fonts/Nexa-Bold.woff') format('woff'), 
  url('../fonts/Nexa-Bold.ttf')  format('truetype'), 
  url('../fonts/Nexa-Bold.svg#Nexa-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Miller-TextRoman';
  src: url('../fonts/Miller-TextRoman.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-TextRoman.woff') format('woff'), 
  url('../fonts/Miller-TextRoman.ttf')  format('truetype'), 
  url('../fonts/Miller-TextRoman.svg#Miller-TextRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'promemoria';
  src: url('../fonts/promemoria.eot?13986362');
  src: url('../fonts/promemoria.eot?13986362#iefix') format('embedded-opentype'),
       url('../fonts/promemoria.woff2?13986362') format('woff2'),
       url('../fonts/promemoria.woff?13986362') format('woff'),
       url('../fonts/promemoria.ttf?13986362') format('truetype'),
       url('../fonts/promemoria.svg?13986362#promemoria') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Nexa-Light';
  color: #58595B;
   -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  overflow: hidden;
}

/* Preloader */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:9998; /* makes sure it stays on top */
}
#status {
    width:60px;
    height:60px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image: url(../img/logo_footer.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
    margin:-30px 0 0 -30px; /* is width and height divided by two */
}
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ee3148;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

strong {font-family: 'NexaRegular';}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Miller-TextRoman';
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.250em;
  line-height: 1.550em;
}
a {
  color: #2e2d2e;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
  color: #ee2024;
}
a:focus {
  text-decoration: none;
  color: #ee2024;
}
a:hover p {
  text-decoration: none; 
  color: #444444; 
  opacity: 0.9;
}
.testo-paragrafo p {padding-bottom: 15px;}

/* HEADER */
header.inside {height: 90px;}

/* NAV */
.main-navigation {
  width: 100%;
  border: none;
  background: transparent;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.main-navigation .nav-wrapper {
  height:auto;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  padding: 20px 0;
  border: none;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  z-index: 9999;
}
.navbar-nav {
  opacity: 0;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
    border: none;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff; 
}
.navbar-nav {margin: 0;}
.navbar-nav.nav--visible {opacity: 1;}
.navbar-nav.always--visible {opacity: 1!important;}
.navbar-default .navbar-nav > li > a {
  color: #ee2024;
  text-transform: uppercase;
  font-family: 'NexaRegular';
  position: relative;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ee2024;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {color: #ee2024;}
.navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 16px;
    width: 20px;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.navbar-default .navbar-nav > li > a::before {
    background: #ee2024;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.navbar-default .navbar-nav > li > a::after {background: #333333;}
.navbar-default .navbar-nav > li > a:hover::before, .navbar-default .navbar-nav > li > a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.navbar-default .navbar-nav > li.current-menu-item a::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.navbar-default .navbar-nav > li.current-menu-item a::after, .navbar-default .navbar-nav > li.current-menu-item a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.navbar-default .navbar-nav > li.open a::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.navbar-default .navbar-nav > li.open a::after, .navbar-default .navbar-nav > li.open a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #333333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #333333;
}

/* NAV: Logo short  */
.logo-short {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
}

/* NAV: Logo short  */
.logo-large {
  position: absolute;
  top: 20px;
  left: 0;
  width: 250px;
  height: 100px;
  text-align: center;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  z-index: 1;
}

/* .gigimangiapane {} */
.logo-large .scritta {
    width: 200px;
    height: 23px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.logo-large .round {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}
.logo-intro {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.logo-large .scritta.top {opacity: 0;}
.logo-large img, .logo-short img {width: 100%;}

/* NAV DROPDOWN */
ul.dropdown-menu {
    top: 75px;
    border: none;
    background: transparent;
    box-shadow: none;
}
.dropdown-menu > li > a {
    display: inline-block;
    padding: 10px 10px 7px;
    margin-bottom: 5px;
    clear: both;
    font-weight: normal;
    line-height: 1em;
    color: #ee2024;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    background: white;
    font-family: 'NexaRegular';
    opacity: 0;
}

@keyframes fadein {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadein{
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadein{
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein{
  0%   { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeout {
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes fadeout{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeout{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes fadeout{
  0%   { opacity:1; }
  100% { opacity:0; }
}
a[aria-expanded="false"] + ul a {
  opacity: 0;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
a[aria-expanded="true"]+ ul a {
  opacity: 1;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
a[aria-expanded="true"]+ ul:nth-child(1){ -webkit-animation-delay: .5s, animation-delay: .5s }
a[aria-expanded="true"]+ ul:nth-child(2){ -webkit-animation-delay: 1s, animation-delay: 1s }
a[aria-expanded="true"]+ ul:nth-child(3){ -webkit-animation-delay: 1.5s, animation-delay: 1.5s }
a[aria-expanded="true"]+ ul:nth-child(4){ -webkit-animation-delay: 2s, animation-delay: 2s }


/* FOOTER NAV */

.footer-menu li {
  display: inline;
  list-style: none;
}
.footer-menu li:after {
  content: '|';
  padding:0 5px;
  color: #ee2024;
}
.footer-menu li:last-child:after {
  content: '';
  padding:0 5px;
  color: #ee2024;
}
.footer-menu li a {color: #ee2024;}
.social {margin-top: -5px;}
.social ul {list-style: none;padding: 0;}
.social ul li {display: inline;}
.social ul li a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 2.7em;
    background-color: transparent; 
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    border:1px solid #ffffff; 
}
.social ul li a:hover {background-color:#ffffff; color: #ee2024;}
.guardamappa:before {
    border: 1px solid #ee2024;
    font-size: 20px;
    margin-right: 15px!important;
    margin-left: 0!important;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px!important;
    display: inline-block;
    color: #ee2024;
    vertical-align: middle;
}

/* HOMEPAGE: INTRO */
.frase-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
}
#intro-slider .owl-controls {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
#intro-slider .owl-controls .owl-page span {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 1;
    background: #f3f3f3;
    border: 0px solid #ee2024;
}

#intro-slider .owl-controls .owl-page.active span, #intro-slider .owl-controls.clickable .owl-page:hover span {
  background: #ee2024;
  border: none;
}

/* HOMEPAGE: Cosa Facciamo */

.cf-item {border-right: 3px solid #fff;}
.cf-item:hover .img-overlay.supergrey {background:  rgba(238,32,36,0.8);}
.cf-item:hover .inner h3 {color: #fff;}
.cf-item:hover .hr-short-red {background: #fff;}
.cf-item:hover .inner .read-more span {color: #fff;}
.cf-item span.link-btn:before {
  font-family: 'Nexa-Light';
  font-weight: normal;
}
.cf-item:hover span.link-btn:before {
  color: #ffffff;
  border-color: #ffffff;
}
span.link-btn:before {
  font-family: 'Nexa-Light';
  font-weight: normal;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.cf-item .inner {
  position: relative;
  padding: 30px;
  min-height: 350px;
}

.cf-item:last-child {border-right: none;}

/* HOMEPAGE : Chiavi */

.wrapper-chiavi {}
.wrapper-chiavi>* {position: absolute;}
.sfasa-t {top: 0%!important;}
.sfasa-b {top: 100%!important;}
.cv {
  transform: rotate(0deg);
  -moz-transition: top 500ms linear;
    -o-transition: top 500ms linear;
    -webkit-transition: top 500ms linear;
    transition: top 500ms linear;
}
.chiave-9 {width: 300px;top: 50%;}
.chiave-6 {width: 300px;top: 40%;}
.chiave-13 {width: 300px;top:55%;}
.chiave-10 {width: 250px;top: 60%;}
.chiave-8 {width: 250px;top: 10%;}
.chiave-7 {width: 150px;top: 20%;}
.chiave-14 {width: 300px;top: 70%;}
.chiave-12 {width: 320px;top: 30%;}
.chiave-15 {width: 200px;top: 75%;}
.chiave-11 {width: 250px;top: 25%;}

/* HOMEPAGE: news */

.data p {
  font-size: 1em;
  letter-spacing: 0.05em;
}
.news-item h3 {
    font-size: 20px!important;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -webkit-transition: color 500ms linear;
    transition: color 500ms linear;
}
.news-item .bg-grey-light {
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -webkit-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.news-item:hover {background-color: #ffffff;}
.news-item:hover > .bg-grey-light {background-color: #ffffff;}
.news-item:hover h3 {color: #ee2024; }
/* PROGETTO: specifiche */
.cat .black.text-xs {font-size: 1em;}
.cat p {
  font-size: 0.850em;
  padding-top: 5px;
}

/* PROGETTO: gallery; */

.gal-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2%;
  width: 50px;
  height: 120px;
  margin: auto
}
.gal-buttons a {
  content: '';
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #ee2024;
  margin: 5px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  color: #ee2024;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.gal-buttons a:hover {
  background: #ee2024;
  color: #fff;
}
a.gal-prev:after, a.gal-next:after, a.gal-prev:before, a.gal-next:before {
  width: 50px;
  height: 50px;
  display: inline;
  position: absolute;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
a.gal-next:before {
    content: '>';
    left: -35px;
}
a.gal-next:after {
    content: '>';
    left: -2px;
}
a.gal-prev:before {
    content: '<';
    left: -35px;
}
a.gal-prev:after {
    content: '<';
    left: -4px;
}
a.gal-next:hover:before {
    content: '>';
    left: -2px;
    color: #fff;
}
a.gal-prev:hover:before {
    content: '<';
    left: -4px;
    color: #fff;
}
a.gal-prev:hover:after {
    content: '<';
    left: 25px;
}
a.gal-next:hover:after {
    content: '>';
    left: 25px;
}
a.gal-next.disabled, a.gal-prev.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
#gal-progetto .owl-controls {display: none!important;}
.listato-clienti p.text-xs {
  font-size: 1em; 
  padding-bottom: 7px;
}

/* Clienti: sistema cubotto e progetti  */
.item-progetto .img-overlay.whiter {background: rgba(255,255,255,0);}
.item-progetto:hover .img-overlay.whiter {background: rgba(255,255,255,0.9); }
.item-progetto .inner .hr-short-red {
  width: 3px;
  opacity: 0;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  -webkit-transition-delay: 250ms; /* Safari */
  transition-delay: 250ms;
}
.item-progetto .inner .hr-short-red.always {width: 10px;}
.item-progetto:hover .inner .hr-short-red.always {width: 10px;}
.item-progetto:hover  .inner .hr-short-red {
  width: 35px;
  opacity: 1;
}
.item-progetto .inner .link-btn:before {
  opacity: 0;
  transform: rotate(-90deg);
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.item-progetto:hover .inner .link-btn:before {
  opacity: 1;
  transform: rotate(0deg);
  -webkit-transition-delay: 250ms; /* Safari */
  transition-delay: 250ms;
}
div[class*="col-"] > .cubotti{padding-bottom:100%;}
.cubotti {
     position:relative; 
     overflow:hidden;
}
.cubotti > * {position:absolute; }
.cubotti > .inner {
     width:100%;
     height:100%;
}
.cubotti .inner {
  opacity: 0;
  padding: 30px;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.cubotti .inner.aon {opacity: 1;}
.cubotti:hover .inner {opacity: 1;}
div[class*="col-"] > .half-cubotti{padding-bottom:50%; }
.half-cubotti {
     position:relative; 
     overflow:hidden;
}
.half-cubotti > * {position:absolute;}
.half-cubotti > .inner {
     width:100%;
     height:100%;
}
.half-cubotti .inner {
  opacity: 1;
  padding: 30px;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/*NEWSLETTER*/
.newsletter form .text-input {
  width: 100%;
  background: rgba(255,255,255,0.3);
  border: none;
  height: 50px;
  padding: 5px 15px 0px;
  font-size: 16px;
  color: #fff;
  outline: none;
}
.newsletter form p {
  color: #fff;
  line-height: 1.2em;
  font-size: 12px
}

/* NEWS : evidenza */
.news-evidenza {
  padding-bottom: 35%!important;
  padding: 0;
}

/* NEWS : short */
.news-short .black.text-xs {font-size: 1.4em;}
.news-short .black.text-xs.smaller {font-size: 0.8em;}
.news-short p {
    font-size: 1.150em;
    line-height: 1.450em;
}
.data-holder {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.data-holder .text-xs.anno {font-size: 1.450em;}

/* Footer */
#colophon {color: #fff;}
.logo-footer img {max-width: 220px;}
.city-add h4 {font-size: 1em;}
.city-add p {
  font-size: 0.850em;
  padding-top: 10px;
}
.social h4 {font-size: 1em;}

/* Taglio immagine (generale) */
.item.taglio-immagine {
  height: 0;
  padding-bottom: 40%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.taglio-immagine {
  height: 0;
  padding-bottom: 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.taglio-immagine.speciale-progetto {
    min-height: 650px;
    padding-bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.taglio-immagine-vuoto {
  height: 0;
  padding-bottom: 15%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.taglio-immagine.newsletter {
  height: 0;
  padding-bottom: 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.taglio-immagine .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.taglio-immagine-vuoto .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.taglio-immagine.claim {
  height: 0;
  padding-bottom: 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.taglio-immagine.claim .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-fade .taglio-immagine {
  padding-bottom: 35%;
}
.header-fade .taglio-immagine .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Background */
.full-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-pink {background-color: rgba(238,32,36,0.05);}
.bg-red {background-color:#ee2024; color: #fff;}
.bg-grey-light {
  background-color: #f3f3f3;
}
.bg-extradark {background-color: #2e2d2e;}
.bg-white {background-color: #ffffff!important;}

/* Overlay sulle immagini */
.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.img-overlay.superw{
  background-color: rgba(255,255,255,1);
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.img-overlay.whiter {
  background-color: rgba(255,255,255,0.8);
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.img-overlay.redest {background-color: rgba(238,32,36,0.8);}
.img-overlay.supergrey {
  background-color: #f3f3f3; 
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* LINK BUTTON */

.caret {margin-bottom: 3px;}
a.link-btn {font-family: 'NexaRegular';}
a.link-btn:before {
  content: '\2192 ';
  text-align: center;
  font-size: 29px;
  color: #ee2024;
  width: 34px;
  height: 34px;
  border: 1px solid #ee2024;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 50%;
}
.shortn {
}
span.link-btn.white:before {
  color: #ffffff;
  border: 1px solid #ffffff;
}
input.link-btn {
    font-family: 'NexaRegular';
    border: 0;
    background: transparent;
    color: #ffffff;
    float: right;
}
::-webkit-input-placeholder {color: #ffffff;}
span.link-btn:before {
    content: '\2192 ';
    text-align: center;
    font-size: 29px;
    color: #ee2024;
    width: 34px;
    height: 34px;
    border: 1px solid #ee2024;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}
.newsletter a.link-btn:before {
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* Typo */

/* Red text */
.red {color: #ee2024;}
.white {color: #ffffff;}
.black {color: #333333;}


.red.text-lg {font-size: 4.350em;}
.red.text-md {font-size: 3.350em;}
.red.text-sm {
  font-size: 2em;
  line-height: 1.250em;
}
.red.text-xs {font-size: 1em;}

/* white text */
.white.text-lg {font-size: 4.350em;}
.white.text-md {font-size: 3.350em;}
.white.text-sm {
  font-size: 2em;
  line-height: 1.250em;
}
.white.text-xs {font-size: 1em;}
.white small {color: #ffffff!important;}

/* black text */
.black.text-lg {font-size: 4.350em;}
.black.text-md {font-size: 3.350em;}
.black.text-sm {
  font-size: 2em;
  line-height: 1.250em;
}
.black.text-sm.sottotitolo {
    font-size: 1.9em;
    line-height: 1.2em;
}
.black.text-xs {font-size: 1em;}

/* up or low */
.upp {text-transform: uppercase;}

/* nexa */
.nx {font-family: 'Nexa-Light';}

.nx-b {
  font-family: 'NexaRegular';
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* Red Border */
.red-top-5 {border-top: 5px solid #ee2024;}
.red-top-3 {border-top: 3px solid #ee2024;}
.red-top-1 {border-top: 1px solid #ee2024;}
.red-bottom-5 {border-bottom: 5px solid #ee2024;}
.red-bottom-3 {border-bottom: 3px solid #ee2024;}
.red-bottom-1 {border-bottom: 1px solid #ee2024;}

.hr-short-red {
  border: none;
  height: 2px;
  background: #ee2024;
  width: 35px;
  margin: 15px 0;
}
.hr-short-white {
  border: none;
  height: 2px;
  background: #ffffff;
  width: 35px;
  margin: 15px 0;
}
.hr-red-centered-short {
  border: none;
  height: 2px;
  background: #ee2024;
  width: 35px;
  margin: 0 auto;
}
.hr-long-red {
  border: none;
  height: 2px;
  background: #ee2024;
  width: 35px;
  margin: 15px 0;
}

/*white border*/
.white-bottom-3 {border-bottom: 3px solid #fff;}
.white-top-3 {border-top: 3px solid #fff;}
.white-right-3 {border-right: 3px solid #fff;}
.white-left-3 {border-left: 3px solid #fff;}
.cont-3.white-top-3 {border-top: 0px solid #fff;}
.hr-white {
  display: inline-block;
  height: 1px;
  background: #fff;
  width: 100%;
  border: none;
}

/* Positioning */
.pos-bottom-404 {
  background-position: center -500px;
}
.pos-r {position: relative;}
.pos-center-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.pos-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pos-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pos-cite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.pos-cite small {padding-top: 20px;display: block;}
.no-left {left: inherit!important;}
.w-100 {width: 100%;}
.wrap {
  display: block;
  width: 100%;
}
/* Elenchi puntati */
.testo-paragrafo ul {
    padding: 15px 0;
    list-style: none;
}

.testo-paragrafo ul li {
    background-color: rgba(238,32,36,0.05);
    margin: 10px 0;
    padding: 5px 5px 0px;
    text-transform: uppercase;
    display: table;
}

.hv-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* altezze */

.fix-250 {min-height: 250px;}

/* Pragrafo 2 colonne */
.two-col {
       -moz-column-count: 3;
       -moz-column-gap: 35px;
       -webkit-column-count: 3;
       -webkit-column-gap: 35px;
        line-height: 1.6em;
}

/* Opacity */

.always {opacity: 1!important;}

/* Set di icone */

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "promemoria";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-google:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-acrobat:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-appstore:before { content: '\e809'; } /* '' */
.icon-gplus:before { content: '\e80a'; } /* '' */
.icon-tumblr:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-email:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-location-alt:before { content: '\e810'; } /* '' */

.icon-issuu:before {
    content: '';
    background-image: url(../img/issuu-ico.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 20px;
    width: 22px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.icon-issuu:hover:before {
    background-image: url(../img/issuu-ico-red.png);
}


/* PADDING E MARGINI */

.p-top {padding-top: 15px;}
.p-top-half {padding-top: 7px;}
.p-bottom {padding-bottom: 15px;}
.p-bottom-half {padding-bottom: 7px;}
.p-left {padding-left: 15px;}
.p-right {padding-right: 15px;}
.p-tot {padding: 15px 15px!important;}
.p-top-2 {padding-top: 30px;}
.p-bottom-2 {padding-bottom: 30px;}
.p-left-2 {padding-left: 30px;}
.p-right-2 {padding-right: 30px;}
.p-top-3 {padding-top: 45px;}
.p-bottom-3 {padding-bottom: 45px;}
.p-bottom-4 {padding-bottom: 60px;}
.p-row-top {padding-top: 90px;}
.p-row-bottom {padding-bottom: 90px;}

.m-top {margin-top: 15px;}
.mn-top {
    margin-top: -15px;
}
.m-bottom {margin-bottom: 15px;}
.m-bottom-half {margin-bottom: 7px;}

.m-left {margin-left: 15px;}
.m-right {margin-right: 15px;}
.m-top-2 {margin-top: 30px;}
.m-bottom-2 {margin-bottom: 30px;}
.m-left-2 {margin-left: 30px;}
.m-right-2 {margin-right: 30px;}
.m-top-3 {margin-top: 45px;}
.m-bottom-3 {margin-bottom: 45px;}
.m-row-top {margin-top: 90px;}
.m-row-bottom {margin-bottom: 90px;}

.m-auto {margin: 0 auto;}

.row-special-m-bottom {margin-bottom: 3px;}

.no-p {padding: 0!important;}
.no-p-right {padding-right: 0!important;}
.no-p-left {padding-left: 0!important;}

.no-m {margin: 0!important;}
.no-m-right {margin-right: 0!important;}
.no-m-left {margin-left: 0!important;}

/*add to any non spacca più */

.addtoany_list a span {
    display: block!important;
    float: none;
}

/************************** RESPONSIVE *********************************/




@media screen and (max-width: 1280px) {

  /* Typo */
  .red.text-sm, .black.text-sm, .white.text-sm {
      font-size: 2em;
      line-height: 1.350em;
  }

  .cubotti .red.text-sm, .cubotti .black.text-sm,.cubotti .white.text-sm {
    font-size: 2em;
    line-height: 1em;
  }

  .red.text-lg, .white.text-lg {
    font-size: 3em;
  }

  .red.text-md, .white.text-md {
    font-size: 2.650em;
  } 

  /* Tagli immagine */
  .taglio-immagine.newsletter {
    height: 0;
    padding-bottom: 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .pos-cite {
    line-height: 1.2em!important;
    font-size: 1.650em!important;
  }

  .chiave-9 {width: 220px;top: 50%;}
  .chiave-6 {width: 220px;top: 40%;}
  .chiave-13 {width: 220px;top:55%;}
  .chiave-10 {width: 170px;top: 60%;}
  .chiave-8 {width: 170px;top: 10%;}
  .chiave-7 {width: 150px;top: 20%;}
  .chiave-14 {width: 220px;top: 70%;}
  .chiave-mobile {width: 220px;top: 70%;}

  .chiave-12 {width: 220px;top: 30%;}
  .chiave-15 {width: 200px;top: 75%;}
  .chiave-11 {width: 170px;top: 25%;}

  .logo-large{left: 0;}

}

@media screen and (max-width: 1024px) {
  .logo-large .round {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 15px!important;
    right: 0;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
}

@media screen and (max-width: 436px) {

  
.mn-top-mobile {
    margin-top: -28px;
}

  .navbar-nav .open .dropdown-menu {
    text-align: center;
  }

  .navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {
    content: none;
}

.frase-intro h2, .frase-intro p {text-align: center;}
.frase-intro h2.text-lg {font-size: 2em;}
.frase-intro p br {display: none;}
  .item-progetto .img-overlay.whiter {background: rgba(255,255,255,0.7);}

  .cubotti .inner {opacity: 1;}
  .titolo-progetto, .nome-cliente {text-align: center;}
  h4.black.text-xs.upp.nx-b.nome-cliente {padding-top: 23%;}
  .scritta {
      opacity: 0;
      display: none!important;
  }
  /*.wrapper-chiavi {display: none;}*/
  .scritta {
      opacity: 0;
      display: none!important;
  }
  .logo-large {left: -90px;}
  .logo-large .round {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 100px!important;
    right: 0;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
  .taglio-immagine {padding-bottom: 100%;}
  .taglio-immagine.claim, .taglio-immagine.newsletter, .header-fade .taglio-immagine {padding-bottom: 100%;}
  .red.text-md, .white.text-md {font-size: 1.450em;line-height: 1.2em;}
  .red.text-md br, .white.text-md br, .black.text-sm br, .red.text-sm br {display: none;}
  .taglio-immagine.claim .container , .taglio-immagine .container {width: 100%;}

  .container.no-p {
    padding: 0 15px!important;
  }

  .data-holder {
    top: inherit;
    left: inherit;
    position: relative;
    transform: none;
    padding: 30px 15px 0px;
  }

  .link-btn.hv-centered {
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    padding: 15px;
    text-align: center;
    float: right;
}

.hv-centered.guardamappa {
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    padding: 15px;
    text-align: center;
    float: right;
}


  .navbar-nav {
    width: 100%;
    text-align: center;
    height: 100%;
    opacity: 1;
    background-color: #ffffff;
  }

  /*altezze importantissime */
  .h-com {min-height: auto!important;}

  /* Pragrafo 2 colonne */
.two-col {
       -moz-column-count: 1;
       -moz-column-gap: 35px;
       -webkit-column-count: 1;
       -webkit-column-gap: 35px;
        line-height: 1.6em;
}

.taglio-immagine.newsletter {
    padding-bottom: 150%;
}

.taglio-immagine .container {
    width: 100%;
}

.white-bottom-3 {border-bottom: none;}
.white-top-3 {border-top: none;}
.white-right-3 {border-right: none;}
.white-left-3 {border-left: none;}

.item-progetto .pos-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.pos-left-bottom {
    position: relative;
    bottom: 0;
    left: 0;
}

.logo-footer {
    margin: 0 auto 60px;
    text-align: center;
}
.no-p-mobile {padding-left: 0!important; padding-right: 0!important;}

.social {
    margin-top: 20px;
}

.titolettoprogetti{
  margin-left: 30px;
}

}



@media screen and (max-width: 376px) {

  
  
  .taglio-immagine.claim, .taglio-immagine.newsletter, .header-fade .taglio-immagine {padding-bottom: 100%;}
  .red.text-md, .white.text-md {font-size: 1.450em;line-height: 1.2em;}
  .red.text-md br, .white.text-md br, .black.text-sm br, .red.text-sm br {display: none;}
  .taglio-immagine.claim .container , .taglio-immagine .container {width: 100%;}

  .container.no-p {
    padding: 0 15px!important;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    height: 100%;
    opacity: 1;
    background-color: #ffffff;
  }

  /*altezze importantissime */
  .h-com {min-height: auto!important;}

  /* Pragrafo 2 colonne */
.two-col {
       -moz-column-count: 1;
       -moz-column-gap: 35px;
       -webkit-column-count: 1;
       -webkit-column-gap: 35px;
        line-height: 1.6em;
}

.taglio-immagine.newsletter {
    padding-bottom: 150%;
}

.taglio-immagine .container {
    width: 100%;
}
  
}



